[submodule "Luny"]
	path = Luny
	url = https://github.com/CodeSmile-0000011110110111/Luny-CSharp
[submodule "LunyScript"]
	path = LunyScript
	url = https://github.com/CodeSmile-0000011110110111/LunyScript-CSharp
[submodule "Luny.Unity"]
	path = Luny.Unity
	url = https://github.com/CodeSmile-0000011110110111/Luny-CSharp-Unity
[submodule "LunyScript.Unity"]
	path = LunyScript.Unity
	url = https://github.com/CodeSmile-0000011110110111/LunyScript-CSharp-Unity
